<div class="d-flex align-items-center justify-content-center container">
    <div class="content">
      <h1>Stupid Coaching</h1>
      <figure class="highlight">
        <blockquote class="blockquote">
          <p><%= @question %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="you">You</cite>
        </figcaption>
      </figure>

      <figure class="highlight">
        <blockquote class="blockquote">
          <p><%= @answer %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="your-coach">Your Coach</cite>
        </figcaption>
      </figure>

      <%= link_to "Ask a new question bro", ask_path, class: "btn btn-primary d-flex justify-content-center" %>
    </div>
</div>
